{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
      </tr>
    {% for stock in stock_portfolio %}
      <tr>
        {% if stock.symbol %}
        <td>{{ stock.symbol }}</td>
        {% endif %}
        {% if stock.name %}
        <td>{{ stock.name }}</td>
        {% endif %}
        {% if stock.shares %}
        <td>{{ stock.shares }}</td>
        {% endif %}
        {% if stock.price %}
        <td>{{ stock.price }}</td>
        {% endif %}
        {% if stock.total %}
        <td>{{ stock.total }}</td>
        {% endif %}
      </tr>
    {% endfor %}
      <tr>
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ cash }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>{{ total }}</b></td>
      </tr>
    </table>

{% endblock %}